<!-- Banner -->
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>Rob Wilson</h2>
        </header>
        <p>Full stack <strong>Web Developer</strong>
        <br />
        Guitarist, Space pirate and port lover
        <br />
        I make web apps, and I never stop learning.</p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">Tell me More</a></li>
            </ul>
        </footer>

    </div>

</section>
